@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

:root {
  --main-color: #00d8ff;
  font-family: 'Roboto', system-ui, sans-serif;
}

.main-color {
  color: var(--main-color);
}

.main-background-color {
  background-color: var(--main-color);
}

/* Button darkmode */
.button-darkmode {
  margin-top: 0.18rem;
}

/* Change color of date and time type input icons in dark mode */
html.dark input[type='date']::-webkit-calendar-picker-indicator,
html.dark input[type='time']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0.9;
  filter: invert(0.9);
}

/* CSS media queries */
@media (min-width: 768px) {
  .custom-scrollbar {
    overflow-y: scroll;
  }

  /* Custom scrollbar Chrome, Opera, Edge */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f3f4f6; /* color of the tracking area */
  }

  .dark .custom-scrollbar::-webkit-scrollbar-track {
    background: #1e293b;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c1c1c1; /* Color of the scroll thumb */
    border-radius: 4px; /* Rounding of the scroll thumb */
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #b6b6b6; /* Change the background when hovering */
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #64748b;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:active {
    background: #757575; /* Change the background when active */
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb:active {
    background: #334155;
  }

  /* Custom scrollbar Firefox */
  .custom-scrollbar-firefox {
    scrollbar-width: thin;
    scrollbar-color: #cdcdcd;
  }
}
